<div 
x-data
    class="nav-menu w-screen md:w-1/3 overflow-scroll bg-white shadow-md flex fixed top-[60px] z-10"
    :class="$store.menu.isOpen ? 'left-0' : '-left-full'"
>
  <nav class="w-full shrink-0">
    {% for link in linklists.main-menu.links %}
      {% render 'nav-menu-item', link: link, index: forloop.index %}
    {% endfor %}
  </nav>
</div>