

<div class="page-padding">
  <h1 class="collection-header text-2xl font-bold mb-4">{{ collection.title }}</h1>
  
  <p class="collection_description mt-4 mb-8 md:w-2/3">{{ collection.description |  strip_html }}</p>

</div>


<div class="section-bg">
  <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 ">
    {% for product in collection.products %}
      <li>
        {% render 'product-card', product: product %}
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  .section-bg {
    background-color: {{ section.settings.background_color }};
  }

  .collection-header {
    display: {% if section.settings.show_collection_header %}block{% else %}none{% endif %};
    text-align: {{ section.settings.align_collection_header }};
  }
  .collection_description {
    margin: {% if  section.settings.align_collection_description == 'left' %} 0 auto 0 0 {% elsif section.settings.align_collection_description == 'right' %} 0 0 0 auto {% else %} 0 auto {% endif %};
    text-align: {% if  section.settings.align_collection_description == 'left' %} left{% elsif section.settings.align_collection_description == 'right' %} right {% else %} center {% endif %};
  }
</style>


{% schema %}
  {
    "name": "Collection Grid",
    "settings": [
      {
        "type": "color",
        "label": "Background Color",
        "id": "background_color",
        "default": "#fff"
      },
      {
        "type": "checkbox",
        "label": "Show Collection Header",
        "id": "show_collection_header",
        "default": true
      },
      {
        "type": "radio",
        "label": "Align Collection Header",
        "id": "align_collection_header",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "radio",
        "label": "Align Collection Description",
        "id": "align_collection_description",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
     
    ],
    "limit": 2
  }
{% endschema %}


