<script>
  // Convert Shopify variants to JSON
  const productVariants = {{ product.variants | json }};
</script>

<div x-init="$store.product.init(productVariants)" class="page-padding grid grid-cols-1 md:grid-cols-2 gap-8 py-8">
  <!-- Product Images -->
  {% render 'product-image' %}

  <!-- Product Details -->
  <div class="flex flex-col justify-start space-y-4">
    {% render 'product-title-authors' %}
    {% render 'product-price' %}
    {% render 'product-variants' %}
    {% render 'product-add-to-cart' %}
    {% render 'product-description' %}
  </div>
</div>