:root {
  --headerHeight: 60px;
  --pagePaddingX: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  border: 1px solid;
}

header {
  height: var(--headerHeight);
  padding: 0 var(--pagePaddingX);
}
main {
  height: calc(100vh - var(--headerHeight));
}

.page-padding {
  padding: 0 var(--pagePaddingX);
}

.nav-menu {
  position: absolute;
  bottom: 0;
  height: calc(100vh - var(--headerHeight));
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  border-bottom: 2px solid black;
  transition: font-size 0.3s ease-in-out;
}
.nav-link:first-child {
  border-top: 2px solid black;
}
.nav-link:hover {
  font-size: 1.2em;
}
